.paragraph{
    background-color: aqua;
    color: darkslategrey;
    border: 5px solid black;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    background-image: url('download\ \(1\).jpeg');
    background-size: contain;
    back
}
.heading{
    font-size: larger;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
    margin: 2px;
    border: 2px double purple;
    padding-bottom: 5px;
    border-width: 10px;
    
}